<template>
  <section class="pt-3">
    <div class="container-fluid">
      <div class="row px-3">
        <div class="col-12 col-md-4">
          <div class="row">
            <div class="col-12">
              <h5 class="text-center">Прибор FРM-03</h5>
            </div>
            <div class="col-12">
              <LabCanvas ref='canvas'></LabCanvas>
            </div>
            <div class="col-12 d-flex flex-wrap justify-content-center mt-2">
              <div class="mx-2 ring" v-for="(ring, index) in datas" @click="getTimes(index)"><img :src="ring.img"></div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-8">
          <div class="row">
            <div class="col-12 row col-text p-0 m-0">
              <transition name="fade" appear  mode="out-in">
                <p v-if="NumberRing == null" class="alert alert-primary col-10 offset-1 mt-2 " role="alert">
                  Выберите кольцо
                </p>
                <p v-if="NumberRing == 10" class="alert alert-primary col-10 offset-1 mt-2 " role="alert">
                  Протокол сохранён
                </p>
                <div v-if="NumberRing !== null && NumberRing !== 10" class="col-12 p-0 m-0 row">
                  <div class="custom-table col-xs-6 col-sm-8">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="">
                            № Измерения
                          </th>
                          <th scope="">
                            t, с
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="index in 5">
                          <td scope="row">{{index}}</td>
                          <td class="form-group">
                            <input type="text" v-model="timesInput[index-1]" class="form-control" :placeholder="'Введите t'+index">
                          </td>
                        </tr>
                        
                        <tr>
                          <td>t<sub>cp</sub></td>
                          <td class="form-group">
                            <input type="text" v-model="timesInput[5]" class="form-control" placeholder="Введите tcp">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-xs-6 col-sm-4">
                    <h2 class="text-center">Дано</h2>
                    <ol>
                      <li>h = 0.4 м</li>
                      <li>g = 9.80665 м/с <sup>2</sup></li>
                      <li>D = 0.01 м</li>
                      <li v-if="NumberRing !== null">m = {{datas[NumberRing].weight}}</li>
                    </ol>
                  </div>
                  <div class="col-12 flex-nowrap d-flex ml-3 align-items-center align-self-center">
                    <div class="pr-3">
                      <img src="../../static/formula.png" alt="" class="img-responsive">
                    </div>
                    <div class="flex-fill col-md-3">
                      <input type="text" v-model="timesInput[6]" placeholder="J" class="col-12">
                    </div>
                    <div>
                      <strong><span> &#xD7; 10<sup>{{datas[NumberRing].expon}}</sup>
                          кг&#xD7;м<sup>2</sup></span></strong>
                    </div>
                  </div>
                </div>
              </transition>

              <div class="ml-3 d-flex flex-wrap">
                <button class="btn btn-primary flex-fill mr-1 mt-1" data-toggle="modal" data-target=".bd-example-modal-lg">Открыть теорию</button>
                <button class="btn btn-success flex-fill mr-1 mt-1" :disabled="chekedRing == false" @click="checkAnswer()">Проверка результатов</button>
                <button class="btn btn-primary mr-1 flex-fill mt-1" :disabled="NumberExp <= 3 || NumberExp > 4 || NumberRing == 10"  @click="saveProtocol()" >Сохранить протокол</button>
                <button class="btn btn-danger flex-fill mr-1 mt-1" @click="goToFio()">Назад</button>
                <input type="file" nwsaveas="lab7" hidden id="savefile" accept=".lab"/>
              </div>
            </div>
            <div class="col-12" style="border-left: 2px solid #d8d8d8; height: 70vh; overflow-x: hidden; overflow-y: auto">
              <h3 class="text-center pt-3">
                <strong>Алгоритм пользования программой</strong>
              </h3>
              <ol>
                <li> Перед тем, как приступить к выполнению лабораторной работы - в обязательном порядке ознакомьтесь с теоритическим материалом, нажав кнопку "Открыть теорию".</li>
                <li> Следующим шагом необходимо выбрать одно из предоставленных колец, которое будет установлено на маятнике Максвелла.</li>
                <li> Затем проведите 5 опытов подряд, запуская установку клавишей "Пуск". Результаты каждого опыта необходимо зафиксировать в таблицу. Внимание! Каждое значение необходимои записать в таком виде, в котором оно предоставляется на установке, вплоть до 3-ех знаков после точки (разделяющий символом между целой частью и дробной в числе является точка). Для выполнения следующего опыта нажмите клавишу "Сброс".</li>
                <li> Далее необходимо подсчитать среднее значение времени
                  (T<sub>cp</sub>), и расчитать момент инерции J (с точностью до × 10<sup>4</sup> кг×м<sup>2</sup>).</li>
                <li> По завершении всех подсчетов нажмите кнопку "Проверка результатов".
                  В случае, если все подсчеты верны (помечены зеленой
                  галочкой), приступайте к дальшнейшему выполнению лабораторной работы, выбрав кольцо другой массы и повторив шаги 2-4.</li>
                <li> После выполнения всех опытов (всего их должно быть 15, по 5 с разными
                 кольцами) и успешно пройденных проверок результатов -  сохраните свою работу, нажав на кнпоку "Сохранить протокол". Данный протокол необходимо продемонстрировать вашему преподавателю. </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Методичка в окне -->
    <Met></Met>
  </section>
</template>

<script>
import Met from './Met.vue'
import LabCanvas from './canvas/LabCanvas.vue'
export default {
  name: 'lab',
  data: function () {
    return {
      datas: [], // Данные по выбранной соли
      times: [],
      timesInput: [],
      chekedRing: false,
      errors: 0,
      NumberRing: null,
      NumberExp: 0
    }
  },
  components: {
    Met,
    LabCanvas
  },
  mounted () {
    this.$parent.getNewDatas()
    for (let i = 0; i < 3; i++) {
      this.$parent.datas[i].used = false
    }
    this.datas = [] // Данные по выбранной соли
    this.datas = this.$parent.datas
    this.times = []
    this.timesInput = []
    this.chekedRing = false
    this.errors = 0
    this.NumberRing = null
    this.NumberExp = 0
  },
  methods: {
    getTimes (index) {
      if (this.chekedRing) {
        alert('Кольцо уже выбрано, прорешайте все опыты с ним')
      } else {
        if (this.datas[index].used === true) {
          alert('Данное кольцо уже использовалась')
        } else {
          this.NumberExp++
          this.datas[index].used = true
          this.NumberRing = index
          /*eslint-disable*/
          $($(".ring-active")[0]).removeClass("ring-active")
          $($(".ring")[index]).addClass("ring-active")
          /*eslint-enable*/
          this.times = this.datas[index].t
          console.log(this.datas[index])
          this.chekedRing = true
          this.$refs.canvas.resetButton.disabled = false
          this.$refs.canvas.resetButton.click()
          this.$refs.canvas.resetButton.disabled = true
          this.$refs.canvas.pendulum.initAnimationTimes(this.times)
        }
      }
    },
    checkAnswer () {
      let self = this
      let errors = 0
      this.times.forEach(function (d, index) {
        if (Number(d) !== Number(self.timesInput[index])) {
          errors++
        }
      })
      if (Number(this.datas[this.NumberRing].dt) !== Number(this.timesInput[5])) {
        errors++
      }
      if (Number(this.datas[this.NumberRing].J) !== Number(this.timesInput[6])) {
        errors++
      }
      if (errors !== 0) {
        alert('Допущены ошибки, исправьте их')
        this.errors += errors
      } else {
        alert('Все данные введены правильно')
        this.chekedRing = false
        this.NumberRing = null
        this.timesInput = []
        this.times = []
        let checking = 0
        this.$parent.datas.forEach(function (d) {
          if (d.used === true) {
            checking++
          }
        })
        if (checking === 3) {
          self.NumberExp = 4
        }
      }
    },
    saveProtocol () {
      var crypto = require('crypto')
      var algorithm = 'aes-256-ctr'
      var password = 'd6F3Efeq'
      var cipher = crypto.createCipher(algorithm, password)
      let protocol = []
      protocol[0] = 'lab7_1.0'
      // let self = this
      this.datas.forEach(function (data, index) {
        protocol[index + 1] = data
      })
      protocol[4] = {
        name: this.$parent.name,
        group: this.$parent.group,
        errors: this.errors
      }
      protocol = JSON.stringify(protocol)
      var crypted = cipher.update(protocol, 'utf8', 'hex')
      crypted += cipher.final('hex')
      protocol = crypted
      let fs = require('fs')
      let chooser = document.querySelector('#savefile')
      chooser.click()
      let self = this
      chooser.addEventListener('change', function (evt) {
        fs.writeFile(this.value, protocol, (err) => {
          if (err) throw err
          self.NumberRing = 10
        })
      })
    },
    goToFio () {
      this.$router.push({ path: '/' })
    }
  }
}
</script>
