<template>
  <div class="container">
    <div class="row">

      <div class="col-12 p-1 mt-2">
        <div class="card">
          <div class="card-body">
            <h4 class="text-success"><strong class="text-dark">ФИО:</strong> {{protocol[4].name}}</h4>
            <h4 class="text-success"><strong class="text-dark">Группа:</strong> {{protocol[4].group}}</h4>
            <p class="text-danger" style="text-indent: 0px;">Ошибки: {{protocol[4].errors}}</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-12 p-1 mt-2">
        <div class="card">
          <div class="card-body">
            <div class="d-inline-flex flex-wrap">
              <p>Опыт 1</p>
              <p>Вес: {{protocol[1].weight}} кг.</p>
              <p class="font-weight-bold">J = {{protocol[1].J}} 
                <strong><span> &#xD7; 10<sup>{{protocol[1].expon}}</sup> кг&#xD7;м<sup>2</sup></span></strong></p>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th scope="">
                    № Измерения
                  </th>
                  <th scope="">
                    t, с
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(t, index) in protocol[1].t">
                  <td scope="row">{{index + 1}}</td>
                  <td>{{t}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-12 p-1 mt-2">
        <div class="card">
          <div class="card-body">
            <div class="d-inline-flex flex-wrap">
              <p>Опыт 2</p>
              <p>Вес: {{protocol[2].weight}} кг.</p>
              <p class="font-weight-bold">J = {{protocol[2].J}} 
                <strong><span> &#xD7; 10<sup>{{protocol[2].expon}}</sup> кг&#xD7;м<sup>2</sup></span></strong></p>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th scope="">
                    № Измерения
                  </th>
                  <th scope="">
                    t, с
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(t, index) in protocol[2].t">
                  <td scope="row">{{index + 1}}</td>
                  <td>{{t}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-12 p-1 mt-2">
        <div class="card">
          <div class="card-body">
            <div class="d-inline-flex flex-wrap">
              <p>Опыт 3</p>
              <p>Вес: {{protocol[3].weight}} кг.</p>
              <p class="font-weight-bold">J = {{protocol[3].J}} 
                <strong><span> &#xD7; 10<sup>{{protocol[3].expon}}</sup> кг&#xD7;м<sup>2</sup></span></strong></p>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th scope="">
                    № Измерения
                  </th>
                  <th scope="">
                    t, с
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(t, index) in protocol[3].t">
                  <td scope="row">{{index + 1}}</td>
                  <td>{{t}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-12 p-1 mt-2">
        <button class="btn btn-primary" @click="goToFio()">Назад</button>
        <button class="btn btn-danger" @click="exit()">Закрыть</button>
      </div>

    </div>
  </div>
</template>

<script>
import gui from 'nw.gui'
export default {
  name: 'protocol',
  data: function () {
    return {
      name: '',
      group: '',
      protocol: []
    }
  },
  mounted () {
    if (this.$parent.protocol[0] !== 'lab7_1.0' || this.$parent.protocol[0] === undefined || this.$parent.protocol[0] === null) {
      alert('Неверный протокол')
      this.$router.push({ path: '/' })
    }
    if (this.$parent.protocol[4].name === undefined) {
      alert('Неверный протокол')
      this.$router.push({ path: '/' })
    }
    this.protocol = this.$parent.protocol
  },
  methods: {
    exit () {
      gui.App.quit()
    },
    goToFio () {
      this.$router.push({ path: '/' })
    }
  }
}
</script>
