<template>
  <div id="app">
    <transition name="fade" appear  mode="out-in">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'app',
  data: function () {
    return {
      name: '',
      group: '',
      protocol: [],
      datas: []
    }
  },
  mounted () {
    this.datas[0] = {
      weight: 0.260,
      maxSpeed: 0.190,
      minSpeed: 0.145,
      used: false,
      img: '../../static/ring1.svg',
      t: [],
      dt: null,
      J: null,
      expon: 0
    }
    this.datas[1] = {
      weight: 0.410,
      maxSpeed: 0.244,
      minSpeed: 0.172,
      used: false,
      img: '../../static/ring2.svg',
      t: [],
      dt: null,
      J: null,
      expon: 0
    }
    this.datas[2] = {
      weight: 0.630,
      maxSpeed: 0.300,
      minSpeed: 0.260,
      used: false,
      img: '../../static/ring3.svg',
      t: [],
      dt: null,
      J: null,
      expon: 0
    }
    this.getNewDatas()
  },
  methods: {
    getNewDatas () {
      const h = 0.4 // высота установки Максвелла [м]
      const g = 9.80665 // ускорение свободного падения [м/c^2]
      const d = 0.01 // диаметр оси [м]
      for (let i = 0; i < 3; i++) {
        this.datas[i].expon = 0
        let summ = 0
        for (let j = 0; j < 5; j++) {
          this.datas[i].t[j] = Math.random() * (this.datas[i].maxSpeed - this.datas[i].minSpeed) + this.datas[i].minSpeed
          this.datas[i].t[j] = Number(this.datas[i].t[j])
          this.datas[i].t[j] = Number(0.4 / Number(this.datas[i].t[j])).toFixed(3)
          summ += Number(this.datas[i].t[j])
        }
        this.datas[i].dt = (summ / 5).toFixed(3)
        this.datas[i].J = (0.25) * this.datas[i].weight * Math.pow(d, 2) * (((g * Math.pow(this.datas[i].dt, 2)) / (2 * h)) - 1)

        while (Number(this.datas[i].J) < 1) {
          this.datas[i].J = Number(this.datas[i].J) * 10
          this.datas[i].expon++
        }
        this.datas[i].J = Number(this.datas[i].J).toFixed(3)
      }
      console.log(this.datas)
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
.card {
  transition: all 0.5s;
}
.card-enter, .card-leave-to
/* .card-leave-active for <2.1.8 */ {
  opacity: 0;
  transform: scale(0);
}
.card-enter-to {
  opacity: 1;
  transform: scale(1);
}
.card-leave-active {
  /*position: absolute;*/
}
.card-move {
  opacity: 1;
  transition: all 0.5s;
}
</style>
